---
layout: default
---

<div id="main">
   
    <div id="topbar">
        {% include topbar.html %}
    </div>
    <div id="nev">
        {% include nev.html %}
    </div>
    <div id="slider">
        {% include slider.html %}
    </div>
    <div id="menu">
        {% include menu.html %}
    </div>
    <div id="gallery">
        {% include gallery.html %}
    </div>
    <div id="banner">
        {% include banner.html %}
    </div>
    <div id="video">
        {% include video.html %}
    </div>
    <div id="footer">
        {% include footer.html %}
    </div>
    <div id="footer_bottom">
        {% include footer_bottom.html %}
    </div>
    <div id="foot">
        {% include foot.html %}
    </div>
    
</div>
