<div class="footer-bottom">

    <div class="container">
        <div class="col-sm-4 col-xs-12 col-md-4 col-lg-4 center-content">
            <div class="review">

                <div class="fb-like" data-href="https://www.facebook.com/preetombd/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

                <!-- For Facebook -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                <!-- For Facrbook -->

                <div id="TA_restaurantWidgetGreen384" class="TA_restaurantWidgetGreen">
                    <ul id="RGvuDm20Qfy" class="TA_links 2ZH3oZUG">
                        <li id="awDY2j" class="jDrmSyB">
                            <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/partner/tripadvisor_logo_117x18-24177-2.png" alt="TripAdvisor"/></a>
                        </li>
                    </ul>
                </div>
                <script src="https://www.jscache.com/wejs?wtype=restaurantWidgetGreen&amp;uniq=384&amp;locationId=6853096&amp;icon=knifeAndFork&amp;lang=en_US&amp;display_version=2"></script>
            </div>
            <div>
                <p>Copyright &copy; All Right Reserved Preetom 2016</p>
            </div>
        </div>

    </div>
</div>