<div class="display">
    <div class="container-fluid">
        <div class="row">
            <div class='list-group gallery'>
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-1@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-1@2x.jpg" />
                        </a>
                    </div>

                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-2@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-2@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-3@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-3@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-4@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-4@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-6@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-6@2x.jpg" />
                        </a>
                    </div>
                </div><!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-7@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-7@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-9@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-9@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-12@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-12@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-10@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-10@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-11@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-11@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-4@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-4@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-2 col-lg-2 gallery-padding'>
                    <div class="pdf-thumb-box">
                        <a class="thumbnail fancybox thumb-img" rel="ligthbox" href="img/home-gallery-10@2x.jpg">
                            <div class="pdf-thumb-box-overlay">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x pdf-thumb-square"></i>
                                    <i class="fa fa-cutlery fa-stack-1x pdf-thumb-eye"></i>
                                </span>
                            </div>
                            <img class="img-responsive" alt="" src="img/home-gallery-10@2x.jpg" />
                        </a>
                    </div>
                </div> <!-- col-6 / end -->
            </div> <!-- list-group / end -->
        </div> <!-- row / end -->
    </div> <!-- container / end -->
</div>