<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">  
    <meta name="description" content="Dhaka, Best Burgur In Dhaka, Burgar Shop"> 
    <meta name="keywords" content="Burger, Dhaka Burger, Burger Shop, Best Burger Shop in Dhaka, Food Dhaka, Fast Food">
    <meta name="author" content="Pasha , Masum, Eva, Rokshana ">      
    <title>Preetom - “Best Burger In Town”</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/58bed1884a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto:100" rel="stylesheet">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">

</head>
<body>