<div class="top-bar">
<div class="container">
   <div class="row">
    <div class="col-md-6"><i class="fa fa-phone" aria-hidden="true"></i>
 +8801788-650022 </div>
    <div class="col-md-6">
        <div class="social right">
            <div class="socio hidden-sm hidden-xs">
                <a href="https://www.facebook.com/preetombd/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>                    
                <a href="https://www.youtube.com/user/" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </div>
  </div>  
</div>
</div>